{% extends "base.html" %}

{% block content %}
    {% if session.lang == 'tat' %}
      <h1>Сез бу биттә булу хокукларына ия түгел</h1>
      <p><a href="{{ url_for('index') }}">Төп биткә күчү</a>
    {% elif session.lang == 'eng' %}
      <h1>403 Auth error!</h1>
      <p><a href="{{ url_for('index') }}">Go to Main page</a>
    {% else %}
      <h1>Доступ запрещен!</h1>
      <p><a href="{{ url_for('index') }}">Перейти на главную</a>
    {% endif %}
{% endblock %}