{% extends "base.html" %}

{% block content %}
    {% if session.lang == 'tat' %}
      <h1>Сораган бит табылмады!</h1>
      <p><a href="{{ url_for('index') }}">Төп биткә күчү</a>
    {% elif session.lang == 'eng' %}
      <h1>404 Not found!</h1>
      <p><a href="{{ url_for('index') }}">Go to Main page</a>
    {% else %}
      <h1>Страница не найдена!</h1>
      <p>То, что вы искали явно не здесь!
      <p><a href="{{ url_for('index') }}">Перейти на главную</a>
    {% endif %}
{% endblock %}