{% extends "base.html" %}

{% block content %}
  <h1>
    {% if session.lang == 'tat' %}
      API
    {% elif session.lang == 'eng' %}
      API
    {% else %}
      API
    {% endif %}
  </h1>
  <div class="row">
    <div class="col-lg-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Анализ текста</h3>
            </div>
            <div class="panel-body">
              <p>Для того, чтобы получить проанализированный текст достаточно отправить GET запрос по адресу:</p>
              <p><b>{{ request.url }}text/<текст для анализа></b></p>
              <p><i>Note:</i> таким образом можно проанализировать только текст с количеством символов не более 1000
              <br><br>
              <p>Ответ сервера будет в виде JSON с одним ключом <i>"result"</i> в кодировке UTF8</p>
              <p><b>Пример (<a href="{{ request.url }}text/Алар урманга баралар.">"{{ request.url }}text/Алар урманга баралар."</a>):</b>
              <p><i>{<br><div style="margin:-10px 0px 0px 20px;">"result": "\u0410\u043b\u0430\u0440\n\u0430\u043b\u0430\u0440+PN;\n\u0443\u0440\u043c\u0430\u043d\u0433\u0430\n\u0443\u0440\u043c\u0430\u043d+N+Sg+DIR(\u0413\u0410);\n\u0431\u0430\u0440\u0430\u043b\u0430\u0440\n\u0431\u0430\u0440+V+PRES(\u0419)+3PL(\u041b\u0410\u0440);\n.\nType1\n"</div>}</i></p>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Анализ слова</h3>
            </div>
            <div class="panel-body">
              <p>Для того, чтобы получить анализ одной словоформы необходимо отправить GET запрос по адресу:</p>
              <p><b>{{ request.url }}word/<текст для анализа></b></p>
              <p><i>Note:</i> в отличие от анализа текста здесь опускается анализ других синтаксических единиц, таких как знаки препинания(Type1, Type2, Type3, Type4), цифры(Num), латинских слов(Latin) и символов(Sign). Также не проверяется принадлежность слова к русскому языку(Rus).
              <br><br>
              <p>Ответ сервера будет в виде JSON с кодировкой UTF8. Слово может иметь более одного морфологического разбора, в следствие чего ключ <i>"parses"</i> представляет из себя массив с элементами, внутри которых находятся ключи <i>"parse"</i>(полный морфологический разбор), <i>"lemma"</i>(лемма) и <i>"pos"</i>(part-of-speech часть речи): </p>
              <p><b>Пример (<a href="{{ request.url }}word/алмалар">"{{ request.url }}word/алмалар"</a>):</b>
              <p><i>{<br><div style="margin:-10px 0px -10px 20px;">"parses": [<br><div style="margin:0px 0px 0px 20px;">{<br><div style="margin:0px 0px 0px 20px;">"lemma": "\u0430\u043b\u043c\u0430",<br>"parse":\u0430\u043b\u043c\u0430+N+PL(\u041b\u0410\u0440)+Nom;",<br>"pos": "N"<br></div>}</div>]</div>}</i></p>
            </div>
          </div>
    </div>
  </div>
  <div style="margin-top:200px;"></div>
{% endblock %}