<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/_bootswatch.scss" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"></style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/index" class="navbar-brand"><b>TatMorphan</b></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ url_for('morphan_tags') }}">
                {% if session.lang == 'tat' %}
                  Морфоанализатор тамгалары
                {% elif session.lang == 'eng' %}
                  Morphan Tags
                {% else %}
                  Теги морфоанализатора
                {% endif %}
              </a>
            </li>
            <li>
              <a href="{{ url_for('api_info') }}">
                {% if session.lang == 'tat' %}
                  API
                {% elif session.lang == 'eng' %}
                  API
                {% else %}
                  API
                {% endif %}
              </a>
            </li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              {% if session.lang == 'tat' %}
                Морфологик күптөрлелек
              {% elif session.lang == 'eng' %}
                Morphological Ambiguity
              {% else %}
                Морфологическая многозначность
              {% endif %}
              <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li>
                  <a href="{{ url_for('disam_info') }}">
                    {% if session.lang == 'tat' %}
                      Морфологик күптөрлелекне чишү                
                    {% elif session.lang == 'eng' %}
                      Morphological Disambiguation
                    {% else %}
                      Разрешение морфологической многозначности
                    {% endif %}
                  </a>
                </li>
                <!-- <li>
                  <a href="{{ url_for('disam_classes') }}">
                    {% if session.lang == 'tat' %}
                      Классификация
                    {% elif session.lang == 'eng' %}
                      Classification
                    {% else %}
                      Классификация
                    {% endif %}
                  </a>
                </li> -->
                <li>
                  <a href="{{ url_for('disam_rules') }}">
                    {% if session.lang == 'tat' %}
                      Контест кагыйдәләре
                    {% elif session.lang == 'eng' %}
                      Contextual Rules
                    {% else %}
                      Контекстные правила
                    {% endif %}
                  </a>
                </li>
                <!-- <li>
                  <a href="{{ url_for('disam_faq') }}">
                    {% if session.lang == 'tat' %}
                      Иң Еш Очраучы Сораулар                
                    {% elif session.lang == 'eng' %}
                      FAQ
                    {% else %}
                      ЧАВО
                    {% endif %}
                  </a>
                </li> -->
                {% if user and user.is_authenticated and user.username == 'admin' %}
                <li class="divider"></li>
                <li>
                  <a href="{{ url_for('disam_pullrequest') }}">
                    {% if session.lang == 'tat' %}
                      Pull request  
                    {% elif session.lang == 'eng' %}
                      Pull request
                    {% else %}
                      Pull request
                    {% endif %}
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              {% if session.lang == 'tat' %}
                Телләр
              {% elif session.lang == 'eng' %}
                Languages
              {% else %}
                Языки
              {% endif %}
              <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ url_for('change_language_english', next=request.path) }}">{% if session.lang == 'eng' %}&#10004;{% endif %}English</a></li>
                <li><a href="{{ url_for('change_language_russian', next=request.path) }}">{% if session.lang == 'rus' or not session.lang %}&#10004;{% endif %}Русский</a></li>
                <li><a href="{{ url_for('change_language_tatar', next=request.path) }}">{% if session.lang == 'tat' %}&#10004;{% endif %}Татарча</a></li>
              </ul>
            </li>
            {%if user and user.is_authenticated%}
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                    {{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                      {%if user.username == 'admin'%}
                          <li><a href="#">AdminPage</a></li>
                      {%endif%}
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            {%else%}
                <li><a href="{{ url_for('login') }}">
                  {% if session.lang == 'tat' %}
                    Керү
                  {% elif session.lang == 'eng' %}
                    Login
                  {% else %}
                    Вход
                  {% endif %}
                </a></li>
                <li><a href="{{ url_for('register') }}">
                  {% if session.lang == 'tat' %}
                    Теркәлү                    
                  {% elif session.lang == 'eng' %}
                    Regin
                  {% else %}
                    Регистрация
                  {% endif %}
                </a></li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>


    <div class="container" style="margin-top: 70px;">
      <div class="row">
        <div class="col-lg-12">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <ul>
              {% for message in messages %}
                  <li>{{ message }} </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% endwith %}
        </div>
      </div>

      <div class="bs-docs-section">
      {% block content %}{% endblock %}
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12" style="margin-bottom:30px;">
            <ul class="list-unstyled">
              <li class="pull-left">
                {% if session.lang == 'tat' %}
                    2016 "Гамәли Семиотика", Татарстан Республикасы Фәннәр Академиясе
                    <br/>
                    Элемтәләр өчен: <a href="mailto:ramil.gata@gmail.com">ramil.gata@gmail.com</a>
                  {% elif session.lang == 'eng' %}
                    2016 Applied Semioticas, Academy of Sciences Tatarstan Republic
                    <br/>
                    For feedback: <a href="mailto:ramil.gata@gmail.com">ramil.gata@gmail.com</a>
                  {% else %}
                    2016 НИИ "Прикладная семиотика", Академия наук Республики Татарстан
                    <br/>
                    Для отзывов: <a href="mailto:ramil.gata@gmail.com">ramil.gata@gmail.com</a>
                  {% endif %}

                
              </li>
              <li class="pull-right">v0.1.0</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>
</body>
</html>