{% extends "base.html" %}
{% block content %}
{% if user and user.is_authenticated %}
  <script type="text/javascript">
    function delete_rule(rule_id) {
        if (confirm('Вы уверены?')){
          // Example of client side AJAX
          // function uses jQuery to send async request to server (into '/sayhello' address)
          $.post('{{ url_for("disam_rule_delete") }}', {
              // params, that will be send as 'POST'
              rule_id: rule_id
          }).done(function(data) {
              // actions, that will be done after successfull response
              if (data.result == 1){
                  com = '#rule_' + rule_id
                  $(com).hide()
              }
          }).fail(function() {
              // actions, that will be done after UNsuccessfull response
              alert('error')
          });
        }
    }
    function send_pullrequest(rule_id) {
        if (confirm('Вы уверены?')){
          // Example of client side AJAX
          // function uses jQuery to send async request to server (into '/sayhello' address)
          $.post('{{ url_for("disam_rule_pullrequest") }}', {
              // params, that will be send as 'POST'
              rule_id: rule_id
          }).done(function(data) {
              // actions, that will be done after successfull response
              if (data.result == 1){
                  alert({% if session.lang == 'tat' %}
                    "Кагыйдә админга җибәрелде"
                  {% elif session.lang == 'eng' %}
                    "Request is sent"
                  {% else %}
                    "Запрос успешно отправлен"
                  {% endif %})
              }
          }).fail(function() {
              // actions, that will be done after UNsuccessfull response
              alert('error')
          });
        }
    }
    function show_rule_modal(rule_id, parent_id, amtype_pattern){
      $('#rule_id').val(rule_id)
      $('#parent_id').val(parent_id)
      $('#rule_amtype_pattern').val(amtype_pattern)
      $('#rule_modal').modal('show');
    }
  </script>
{% endif %}
<h1>
  {% if session.lang == 'tat' %}
    Морфологик күптөрлелекне чишү кагыйдәләре
  {% elif session.lang == 'eng' %}
    Morphological Disambiguation Rules
  {% else %}
    Контекстные правила разрешения морфологической многозначности
  {% endif %}
</h1>
<div>
  {% if user and user.is_authenticated %}
  <a onclick="show_rule_modal('', '', '');" class="btn btn-success">
    {% if session.lang == 'tat' %}
      + Яңа кагыйдә
    {% elif session.lang == 'eng' %}
      + New Contextual Rule
    {% else %}
      + Новое контекстное правило
    {% endif %}
  </a>
  <a href="{{ url_for('get_disam_rules_as_json') }}" class="btn btn-info">
    {% if session.lang == 'tat' %}
      Кагыйдәләрне JSON форматында үзеңә иңдер
    {% elif session.lang == 'eng' %}
      Download Rules as JSON
    {% else %}
      Загрузить правила в формате JSON
    {% endif %}
  </a>
  {% if user.username == 'admin' %}
  <a href="{{ url_for('disam_pullrequest') }}" class="btn btn-primary">
    {% if session.lang == 'tat' %}
      Pull request  
    {% elif session.lang == 'eng' %}
      Pull request
    {% else %}
      Pull request
    {% endif %}
  </a>
  {% endif %}
  {% endif %}
</div>
<br>
<div class="row">
  <div class='col-lg-12'>
      {% if rules|length > 0 %}
      <table class="table table-striped table-hover panel panel-primary">
        <thead class="panel-heading">
          <tr>
            {% if user and user.is_authenticated %}<th>#</th>{% endif %}
            <th class="col-lg-4">
            {% if session.lang == 'tat' %}
              Күптөрлелек төре
            {% elif session.lang == 'eng' %}
              Amtype
            {% else %}
              Тип многозначности
            {% endif %}
            </th>
            {% if user.username == 'admin'%}
            <th class="col-lg-1">User</th>
            {% endif %}
            <th class="col-lg-2">
            {% if session.lang == 'tat' %}
              Кагыйдәләр саны
            {% elif session.lang == 'eng' %}
              Rule Count
            {% else %}
              Количество правил
            {% endif %}</th>
            <th class="col-lg-{% if user and user.is_authenticated %}6{% else %}2{% endif %}"></th>
          </tr>
        </thead>
        <tbody class="panel-body">
          {% for rule in rules %}
            <tr id="rule_{{ rule.id }}">
              {% if user and user.is_authenticated %}<td>{{ rule.id }}</td>{% endif %}
              <td><b>{{ rule.amtype_pattern }}</b></td>
              {% if user.username == 'admin'%}
              <td>{{ rule.copyof.user.username if rule.copyof else 'admin'}}</td>
              {% endif %}
              <td>{{ rule.contexts.all()|length }}</td>
              <td>
                {% if user and user.is_authenticated %}
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                    {% if session.lang == 'tat' %}
                      Кагыйдәләр >>
                    {% elif session.lang == 'eng' %}
                      Rules >>
                    {% else %}
                      Правила >>
                    {% endif %}
                    </a>
                    <a class="btn btn-info disabled">
                    {% if session.lang == 'tat' %}
                      Тест
                    {% elif session.lang == 'eng' %}
                      Test
                    {% else %}
                      Тест
                    {% endif %}</a>
                    {% if user.username != 'admin'%}
                    <a class="btn btn-warning" onclick="send_pullrequest({{ rule.id }});">Pull Request</a>
                    {% endif %}
                  </div>
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" onclick="show_rule_modal({{ rule.id }}, '', '{{ rule.amtype_pattern }}');">
                    {% if session.lang == 'tat' %}
                      Төзәтү
                    {% elif session.lang == 'eng' %}
                      Edit
                    {% else %}
                      Редактировать
                    {% endif %}</a>
                    <a class="btn btn-success" onclick="show_rule_modal('', {{ rule.id }}, '');">
                    {% if session.lang == 'tat' %}
                      + Кагыйдәгә чыгарма
                    {% elif session.lang == 'eng' %}
                      + Add Sub Rule
                    {% else %}
                      + Добавить исключение
                    {% endif %}</a>
                    <a class="btn btn-danger" onclick="delete_rule({{ rule.id }});">
                    {% if session.lang == 'tat' %}
                      Бетерү
                    {% elif session.lang == 'eng' %}
                      Delete
                    {% else %}
                      Удалить
                    {% endif %}</a>
                  </div>
                {% else %}
                  <div class="btn-group btn-group-justified">
                  <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                    {% if session.lang == 'tat' %}
                      Кагыйдәләрне карау >>
                    {% elif session.lang == 'eng' %}
                      Rules >>
                    {% else %}
                      Правила >>
                    {% endif %}</a>
                  </div>
                {% endif %}
              </td>
            </tr>
            {% for rule in rule.exceptions %}
              <tr id="rule_{{ rule.id }}">
                <td>{{ rule.id }}</td>
                <td>&#8594; <b>{{ rule.amtype_pattern }}</b></td>
                {% if user.username == 'admin'%}
                <td>{{ rule.copyof.user.username if rule.copyof else 'admin'}}</td>
                {% endif %}
                <td>{{ rule.contexts.all()|length }}</td>
                <td>
                  {% if user and user.is_authenticated %}
                    <div class="btn-group btn-group-justified">
                      <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                      {% if session.lang == 'tat' %}
                        Кагыйдәләр >>
                      {% elif session.lang == 'eng' %}
                        Rules >>
                      {% else %}
                        Правила >>
                      {% endif %}</a>
                      <a class="btn btn-info">
                      {% if session.lang == 'tat' %}
                        Тест
                      {% elif session.lang == 'eng' %}
                        Test
                      {% else %}
                        Тест
                      {% endif %}</a>
                      {% if user.username != 'admin'%}
                      <a class="btn btn-warning" onclick="send_pullrequest({{ rule.id }});">Pull Request</a>
                      {% endif %}
                    </div>
                    <div class="btn-group btn-group-justified">
                      <a class="btn btn-default" onclick="show_rule_modal({{ rule.id }}, {{ rule.parent_id }}, '{{ rule.amtype_pattern }}');">
                      {% if session.lang == 'tat' %}
                        Төзәтү
                      {% elif session.lang == 'eng' %}
                        Edit
                      {% else %}
                        Редактировать
                      {% endif %}</a>
                      <a class="btn btn-success" onclick="show_rule_modal('', {{ rule.id }}, '');">
                      {% if session.lang == 'tat' %}
                        + Кагыйдәгә чыгарма
                      {% elif session.lang == 'eng' %}
                        + Add Sub Rule
                      {% else %}
                        + Добавить исключение
                      {% endif %}</a>
                      <a class="btn btn-danger" onclick="delete_rule({{ rule.id }});">
                      {% if session.lang == 'tat' %}
                        Бетерү
                      {% elif session.lang == 'eng' %}
                        Delete
                      {% else %}
                        Удалить
                      {% endif %}</a>
                    </div>
                  {% else %}
                    <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                      {% if session.lang == 'tat' %}
                        Кагыйдәләр >>
                      {% elif session.lang == 'eng' %}
                        Rules >>
                      {% else %}
                        Правила >>
                      {% endif %}</a>
                  {% endif %}
                </td>
              </tr>
              {% for rule in rule.exceptions %}
                <tr id="rule_{{ rule.id }}">
                  <td>{{ rule.id }}</td>
                  <td>&#8594; &#8594; <b>{{ rule.amtype_pattern }}</b></td>
                  {% if user.username == 'admin'%}
                  <td>{{ rule.copyof.user.username if rule.copyof else 'admin'}}</td>
                  {% endif %}
                  <td>{{ rule.contexts.all()|length }}</td>
                  <td>
                    {% if user and user.is_authenticated %}
                      <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                        {% if session.lang == 'tat' %}
                          Кагыйдәләр >>
                        {% elif session.lang == 'eng' %}
                          Rules >>
                        {% else %}
                          Правила >>
                        {% endif %}</a>
                        <a class="btn btn-info">
                        {% if session.lang == 'tat' %}
                          Тест
                        {% elif session.lang == 'eng' %}
                          Test
                        {% else %}
                          Тест
                        {% endif %}</a>
                        {% if user.username != 'admin'%}
                        <a class="btn btn-warning" onclick="send_pullrequest({{ rule.id }});">Pull Request</a>
                        {% endif %}
                      </div>
                      <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" onclick="show_rule_modal({{ rule.id }}, {{ rule.parent_id }}, '{{ rule.amtype_pattern }}');">
                        {% if session.lang == 'tat' %}
                          Төзәтү
                        {% elif session.lang == 'eng' %}
                          Edit
                        {% else %}
                          Редактировать
                        {% endif %}</a>
                        <a class="btn btn-success" onclick="show_rule_modal('', {{ rule.id }}, '');">
                        {% if session.lang == 'tat' %}
                          + Кагыйдәгә чыгарма
                        {% elif session.lang == 'eng' %}
                          + Add Sub Rule
                        {% else %}
                          + Добавить исключение
                        {% endif %}</a>
                        <a class="btn btn-danger" onclick="delete_rule({{ rule.id }});">
                        {% if session.lang == 'tat' %}
                          Бетерү
                        {% elif session.lang == 'eng' %}
                          Delete
                        {% else %}
                          Удалить
                        {% endif %}</a>
                      </div>
                    {% else %}
                      <a class="btn btn-primary" href="{{ url_for('disam_rule', rule_id=rule.id) }}">
                      {% if session.lang == 'tat' %}
                        Кагыйдәләр >>
                      {% elif session.lang == 'eng' %}
                        Rules >>
                      {% else %}
                        Правила >>
                      {% endif %}</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h3>
          {% if session.lang == 'tat' %}
            Әлегә бер кагыйдә дә өстәлмәгән!
          {% elif session.lang == 'eng' %}
            There is no rules yet!
          {% else %}
            Правил еще нет!
          {% endif %}</h3>
      {% endif%}
  </div>
</div>
{% if user and user.is_authenticated %}
<div class="modal" id="rule_modal">
  <div class="modal-dialog">
    <form action="" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          {% if session.lang == 'tat' %}
            Кагыйдә
          {% elif session.lang == 'eng' %}
            Rule
          {% else %}
            Правило
          {% endif %}
        </h4>
      </div>
      <div class="modal-body">
          <fieldset>
            <input type="hidden" name="rule_id" id="rule_id">
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">
              {% if session.lang == 'tat' %}
                Төп кагыйдә
              {% elif session.lang == 'eng' %}
                Parent Rule
              {% else %}
                Главное правило
              {% endif %}</label>
              <div class="col-lg-9">
                <select class="form-control" id="parent_id" name="parent_id" placeholder="Amtype Pattern">
                  <option value="">.</option>
                  {% for rule in allrules %}
                    <option value="{{ rule.id }}">{{ rule.amtype_pattern }}</option>
                  {% endfor%}
                </select>
              </div>
            </div>
            <br/><br/>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">
              {% if session.lang == 'tat' %}
                Яңа күптөрлелек паттерны
              {% elif session.lang == 'eng' %}
                Amtype pattern
              {% else %}
                Паттерн многозначности
              {% endif %}</label>
              <div class="col-lg-9">
                <input class="form-control myauto" id="rule_amtype_pattern" name="rule_amtype_pattern" placeholder="Amtype Pattern" type="text">
              </div>
            </div>
          </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {% if session.lang == "tat" %}
              Ябу
            {% elif session.lang == "eng" %}
              Close
            {% else %}Закрыть{%endif%}</button>
        <button type="submit" class="btn btn-primary">
            {% if session.lang == "tat" %}
              Саклау
            {% elif session.lang == "eng" %}
              Save changes
            {% else %}Сохранить{%endif%}</button>
        <button type="submit" name="submitcontinue" class="btn btn-primary">
            {% if session.lang == "tat" %}
              Саклау һәм кагыйдәләр битенә күчү
            {% elif session.lang == "eng" %}
              Save and continue editing
            {% else %}Сохранить и перейти к контекстам{%endif%}</button>
      </div>
    </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  // {% if errors %}
  // $(document).ready(function(){
  //   alert('ok');
  //   // show_rule_modal({{ request.form.rule_id if request.form.rule_id else "''"|safe }}, {{ request.form.parent_id if request.form.parent_id else "''"|safe }}, '{{ request.form.rule_amtype_pattern }}');
  // });​
  // {% endif %}
</script>
{% endif%}
{% endblock %}