{% extends "base.html" %}
{% block content %}
  <h1>
    {% if session.lang == 'tat' %}
      Классификация
    {% elif session.lang == 'eng' %}
      Classification
    {% else %}
      Классификация
    {% endif %}
  </h1>
  <div>
  </div>
{% endblock %}