{% extends "base.html" %}
{% block content %}
  <h1>
    {% if session.lang == 'tat' %}
      Морфологик күптөрлелекне чишу буенча иң Еш Очраучы Сораулар
    {% elif session.lang == 'eng' %}
      Morphological Disambiguation FAQ
    {% else %}
      ЧАВО по разрешению морфологической многозначности
    {% endif %}
  </h1>
  <div>
      <ul>
        <li>Что такое?</li>
        <li>Классификация - типы</li>
        <li>Методы</li>
        <li>Контекстные правила</li>
      </ul>
  </div>
{% endblock %}