{% extends "base.html" %}
{% block content %}
{% if user and user.is_authenticated %}
  <script type="text/javascript">
    function delete_context(context_id) {
        if (confirm('Вы уверены?')){
          // Example of client side AJAX
          // function uses jQuery to send async request to server (into '/sayhello' address)
          $.post('{{ url_for("disam_context_delete") }}', {
              // params, that will be send as 'POST'
              context_id: context_id
          }).done(function(data) {
              // actions, that will be done after successfull response
              if (data.result == 1){
                  com = '#context_' + context_id
                  $(com).hide()
              }
          }).fail(function() {
              // actions, that will be done after UNsuccessfull response
              alert('error')
          });
        }
    }
    function delete_context_pattern(context_pattern_id) {
        if (confirm('Вы уверены?')){
          // Example of client side AJAX
          // function uses jQuery to send async request to server (into '/sayhello' address)
          $.post('{{ url_for("disam_context_pattern_delete") }}', {
              // params, that will be send as 'POST'
              context_pattern_id: context_pattern_id
          }).done(function(data) {
              // actions, that will be done after successfull response
              if (data.result == 1){
                  com = '#context_pattern_' + context_pattern_id
                  $(com).hide()
              }
          }).fail(function() {
              // actions, that will be done after UNsuccessfull response
              alert('error')
          });
        }
    }
    function show_context_modal(context_id, context_result_pattern){
      $('#context_id').val(context_id)
      $('#context_result_pattern').val(context_result_pattern)
      $('#context_modal').modal('show');
    }
    function show_context_pattern_modal(context_id, context_pattern_id, pattern_type, searched, start_index, end_index, operand){
      $('#context_pattern_id').val(context_pattern_id);
      $('#pattern_context_id').val(context_id)
      $('#pattern_type').val(pattern_type)
      $('#searched').val(searched)
      $('#start_index').val(start_index)
      $('#end_index').val(end_index)
      $('#operand').val(operand)
      $('#context_pattern_modal').modal('show');
    }
  </script>
{% endif %}
<h1>
  {% if session.lang == "tat" %}
    "{{ rule.amtype_pattern }}" морфологик күптөрлелеген чишү кагыйдәләре
  {% elif session.lang == "eng" %}
    Morphological Disambiguation Rules of "{{ rule.amtype_pattern }}"
  {% else %}
    Контекстные правила для разрешения "{{ rule.amtype_pattern }}"
  {% endif %}
</h1>
<div>
  <a href="{{ url_for('disam_rules') }}" class="btn btn-primary">
    {% if session.lang == 'tat' %}
      << Кире кагыйдәләр исемлегенә кайту
    {% elif session.lang == 'eng' %}
      << Back to Rule's List
    {% else %}
      << Назад к списку правил
    {% endif %}
  </a>

  {% if user and user.is_authenticated %}
  <a onclick="show_context_modal('', '');" class="btn btn-success">
    {% if session.lang == 'tat' %}
      + Яңа контекст
    {% elif session.lang == 'eng' %}
      + New Context
    {% else %}
      + Новый контекст
    {% endif %}
  </a>
  {% endif %}
</div>
<br>
<div class="row">
  <div class="col-lg-12">
      <table class="table table-striped table-hover panel panel-primary">
        <thead class="panel-heading">
          <tr>
            {% if user and user.is_authenticated %}<th>#</th>{% endif %}
            <th class="col-lg-2">
            {% if session.lang == 'tat' %}
              Чишелеше
            {% elif session.lang == 'eng' %}
              Result
            {% else %}
              Разрешать как ...
            {% endif %}
            </th>
            <th class="col-lg-6">
            {% if session.lang == 'tat' %}
              Контексты
            {% elif session.lang == 'eng' %}
              Context
            {% else %}
              Контекст
            {% endif %}              
            </th>
            {% if user and user.is_authenticated %}
            <th></th>
            <th class="col-lg-4" colspan="2"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="panel-body">
          {% if rule.contexts.all()|length == 0%}
            <tr>
              <td colspan="5" align="center">
                {% if session.lang == 'tat' %}
                  Бу төр өчен әлегә кагыйдәләр юк!
                {% elif session.lang == 'eng' %}
                  There is no rules for this ambiguity type yet!
                {% else %}
                  Для данного типа еще нет контекстных правил!
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% for context in rule.contexts %}
            <tr class="active" id="context_{{ context.id }}">
              {% if user and user.is_authenticated %}<td>{{ context.id }}</td>{% endif %}
              <td>
                {% if session.lang == 'tat' %}
                  {% if context.position == 0 %}<b>"{{ rule.amtype_pattern }}"</b> күптөрлелеге {% endif %} моның астындагы контекстлар туры килсә, <b>"{{ context.result_pattern }}"</b> буларак чишелә.
                {% elif session.lang == 'eng' %}
                  {% if context.position == 0 %}Ambigous <b>"{{ rule.amtype_pattern }}"</b> 
                  {% else %}else it {% endif %}
                  will be disambiguated as <b>"{{ context.result_pattern }}"</b>, if
                {% else %}
                  {% if context.position == 0 %}Многозначность <b>"{{ rule.amtype_pattern }}"</b> 
                  {% else %}иначе {% endif %}
                  разрешается как <b>"{{ context.result_pattern }}"</b>, если
                {% endif %}
              </td>
              <td>
                {% if session.lang == 'tat' %}
                  Нинди генә контекст булса да
                {% elif session.lang == 'eng' %}
                  there is any context
                {% else %}
                  встречается любой контекст
                {% endif %}</td>
              {% if user and user.is_authenticated %}
              <td>
                  <form action="" method="POST">
                    <input type="hidden" name="context_id" value="{{ context.id }}">
                    <button type="submit" class="btn btn-default" onclick="" name="context_up"{% if context.position == 0 %} disabled{% endif %}>&#x25B2;</button>
                    <button type="submit" class="btn btn-default" onclick="" name="context_down"{% if context.position == rule.contexts.all()|length-1 %} disabled{% endif %}>&#x25BC;</button>
                  </form>
              </td>
              <td colspan="2">
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-info" onclick="show_context_modal({{ context.id }}, '{{ context.result_pattern }}');">
                    {% if session.lang == 'tat' %}
                      Төзәтү
                    {% elif session.lang == 'eng' %}
                      Edit
                    {% else %}
                      Редактировать
                    {% endif %}</a>
                  <a class="btn btn-success" onclick="show_context_pattern_modal({{ context.id }});">
                    {% if session.lang == 'tat' %}
                      + Яңа паттерн
                    {% elif session.lang == 'eng' %}
                      + New Pattern
                    {% else %}
                      + Новый паттерн
                    {% endif %}</a>
                </div>
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-danger" onclick="delete_context({{ context.id }});">
                    {% if session.lang == 'tat' %}
                      Бетерү
                    {% elif session.lang == 'eng' %}
                      Delete
                    {% else %}
                      Удалить
                    {% endif %}</a>
                </div>
              </td>
              {% endif %}
            </tr>
            {% for context_pattern in context.context_patterns %}
              <tr id="context_pattern_{{ context_pattern.id }}">
                {% if user and user.is_authenticated %}<td></td>{% endif %}
                <td></td>
                <td>
                  {% if context_pattern.operand == 0 %}<b>
                    {% if session.lang == 'tat' %}
                      ҺӘМ
                    {% elif session.lang == 'eng' %}
                      AND
                    {% else %}
                      И
                    {% endif %}
                    </b>
                  {% elif context_pattern.operand == 1 %}<b>
                    {% if session.lang == 'tat' %}
                      ЯКИ
                    {% elif session.lang == 'eng' %}
                      OR
                    {% else %}
                      ИЛИ
                    {% endif %}
                    </b>
                  {% elif context_pattern.operand == 2 %}<b>
                    {% if session.lang == 'tat' %}
                      ҺӘМ
                    {% elif session.lang == 'eng' %}
                      AND NOT
                    {% else %}
                      И НЕ
                    {% endif %}
                    </b>
                  {% elif context_pattern.operand == 3 %}<b>
                    {% if session.lang == 'tat' %}
                      ЯКИ
                    {% elif session.lang == 'eng' %}
                      OR NOT
                    {% else %}
                      ИЛИ НЕ
                    {% endif %}
                    </b>
                  {% endif %}
                  {% if session.lang == 'tat' %}
                    контестында үзеннән [{% if context_pattern.start_index > 0 %}+{% endif %}{{ context_pattern.start_index }}, {% if context_pattern.end_index > 0 %}+{% endif %}{{ context_pattern.end_index }}] сүз ераклыгында
                    {% if context_pattern.pattern_type == 1 %}<b>"{{ context_pattern.searched }}" сүз формасы</b>
                    {% elif context_pattern.pattern_type == 2 %}<b>"{{ context_pattern.searched }}"</b>  грамматик формасы
                    {% elif context_pattern.pattern_type == 3 %}<b>"{{ context_pattern.searched }}"</b>  морфемасы 
                    {% elif context_pattern.pattern_type == 4 %} җөмлә ахыры(яки башы)
                    {% elif context_pattern.pattern_type == 5 %}беренче хәрефе зур булган сүз
                    {% elif context_pattern.pattern_type == 6 %}<b>"{{ context_pattern.searched }}"</b> сүз тамыры
                    {% endif %}
                    {% if context_pattern.operand == 0 %}<b>
                      очравы
                    {% elif context_pattern.operand == 1 %}<b>
                      очравы
                    {% elif context_pattern.operand == 2 %}<b>
                      очрамавы
                    {% elif context_pattern.operand == 3 %}<b>
                      очрамавы
                    {% endif %}
                  {% elif session.lang == 'eng' %}
                    there is
                    {% if context_pattern.pattern_type == 1 %}<b>"{{ context_pattern.searched }}"</b> wordform
                    {% elif context_pattern.pattern_type == 2 %}<b>"{{ context_pattern.searched }}"</b> grammatical form
                    {% elif context_pattern.pattern_type == 3 %}<b>"{{ context_pattern.searched }}"</b> morpheme
                    {% elif context_pattern.pattern_type == 4 %}sentence boundary
                    {% elif context_pattern.pattern_type == 5 %}word with upper case first letter
                    {% elif context_pattern.pattern_type == 6 %}<b>"{{ context_pattern.searched }}"</b> word lemma
                    {% endif %}
                    in the interval of [{% if context_pattern.start_index > 0 %}+{% endif %}{{ context_pattern.start_index }}, {% if context_pattern.end_index > 0 %}+{% endif %}{{ context_pattern.end_index }}] from current ambigous wordform
                  {% else %}
                    встречается
                    {% if context_pattern.pattern_type == 1 %}словоформа <b>"{{ context_pattern.searched }}"</b>
                    {% elif context_pattern.pattern_type == 2 %} грамматическая форма <b>"{{ context_pattern.searched }}"</b>
                    {% elif context_pattern.pattern_type == 3 %} морфема <b>"{{ context_pattern.searched }}"</b>
                    {% elif context_pattern.pattern_type == 4 %} граница предложения
                    {% elif context_pattern.pattern_type == 5 %} слово, написанная с заглавной буквой,
                    {% elif context_pattern.pattern_type == 6 %} основа слова <b>"{{ context_pattern.searched }}"</b>
                    {% endif %}
                    в интервале расстоянии [{% if context_pattern.start_index > 0 %}+{% endif %}{{ context_pattern.start_index }}, {% if context_pattern.end_index > 0 %}+{% endif %}{{ context_pattern.end_index }}] от рассматриваемого слова
                  {% endif %}
                </td>
                {% if user and user.is_authenticated %}
                <td></td>
                <td>
                    <form action="" method="POST">
                      <input type="hidden" name="context_pattern_id" value="{{ context_pattern.id }}">
                      <button type="submit" class="btn btn-default" onclick="" name="context_pattern_up"{% if context_pattern.position == 0 %} disabled{% endif %}>&#x25B2;</button>
                      <button type="submit" class="btn btn-default" onclick="" name="context_pattern_down"{% if context_pattern.position == context.context_patterns.all()|length-1 %} disabled{% endif %}>&#x25BC;</button>
                    </form>
                </td>
                <td>
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-info" onclick="show_context_pattern_modal({{ context.id }}, {{ context_pattern.id }}, '{{ context_pattern.pattern_type }}', '{{ context_pattern.searched }}', {{ context_pattern.start_index }}, {{ context_pattern.end_index }}, {{ context_pattern.operand }});">
                      {% if session.lang == 'tat' %}
                        Төзәтү
                      {% elif session.lang == 'eng' %}
                        Edit
                      {% else %}
                        Редактировать
                      {% endif %}
                    </a>
                  </div>  
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-danger" onclick="delete_context_pattern({{ context_pattern.id }})">
                      {% if session.lang == 'tat' %}
                        Бетерү
                      {% elif session.lang == 'eng' %}
                        Delete
                      {% else %}
                        Удалить
                      {% endif %}</a>
                  </div>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% if user and user.is_authenticated %}
<div class="modal" id="context_modal">
  <div class="modal-dialog">
    <form action="" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          {% if session.lang == 'tat' %}
            Чишелеше
          {% elif session.lang == 'eng' %}
            Disambiguate as
          {% else %}
            Разрешать как
          {% endif %}
        </h4>
      </div>
      <div class="modal-body">
          <fieldset>
            <input type="hidden" name="context_id" id="context_id">
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">
                {% if session.lang == 'tat' %}
                  Чишелеше
                {% elif session.lang == 'eng' %}
                  Disambiguate as
                {% else %}
                  Разрешать как
                {% endif %}
              </label>
              <div class="col-lg-10">
                <select class="form-control" id="context_result_pattern" name="context_result_pattern">
                  {% for chain in rule.amtype_pattern.split('|') %}
                    <option val="{{ chain }}">{{ chain }}</option>
                  {% endfor %}
                </select> 
              </div>
            </div>
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        {% if session.lang == 'tat' %}
          Ябу
        {% elif session.lang == 'eng' %}
          Close
        {% else %}
          Закрыть
        {% endif %}
        </button>
        <button type="submit" class="btn btn-primary">
          {% if session.lang == 'tat' %}
            Саклау
          {% elif session.lang == 'eng' %}
            Save changes
          {% else %}
            Сохранить
          {% endif %}</button>
      </div>
    </div>
    </form>
  </div>
</div>
<div class="modal" id='context_pattern_modal'>
  <div class="modal-dialog">
    <form action="" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
          {% if session.lang == 'tat' %}
            Контексты
          {% elif session.lang == 'eng' %}
            Context
          {% else %}
            Контекст
          {% endif %}
        </h4>
      </div>
      <div class="modal-body form-horizontal">
        <fieldset>
        <input type="text" class="hidden" id="context_pattern_id" name="context_pattern_id">
        <input type="text" class="hidden" id="pattern_context_id" name="context_id">
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">
            {% if session.lang == 'tat' %}
              Операнд
            {% elif session.lang == 'eng' %}
              Operand
            {% else %}
              Операнд
            {% endif %}
          </label>
          <div class="col-lg-9">
            <select class="form-control" id="operand" name="operand">
              <option value="0">И (AND)</option>
              <option value="1">ИЛИ (OR)</option>
              <option value="2">И НЕ (AND NOT)</option>
              <option value="3">ИЛИ НЕ (OR NOT)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">
            {% if session.lang == "tat" %}
              Контекст төре
            {% elif session.lang == "eng" %}
              Pattern Type
            {% else %}
              Тип контекста
            {%endif%}
          </label>
          <div class="col-lg-9">
            <select class="form-control" id="pattern_type" name="pattern_type">
              <option value="1">{% if session.lang == "tat" %}Сүз формасы{% elif session.lang == "eng" %}Wordform{% else %}Словоформа{%endif%}</option>
              <option value="2">{% if session.lang == "tat" %}Грамматик формасы{% elif session.lang == "eng" %}Grammatical form{% else %}Грамматическая форма{%endif%}</option>
              <option value="3">{% if session.lang == "tat" %}Морфемасы{% elif session.lang == "eng" %}Morpheme{% else %}Морфема{%endif%}</option>
              <option value="4">{% if session.lang == "tat" %}Сүз ахыры(башы){% elif session.lang == "eng" %}Sentence boundary{% else %}Границы предложения{%endif%}</option>
              <option value="5">{% if session.lang == "tat" %}Башу зур хәрефтән{% elif session.lang == "eng" %}First Letter Upper Case{% else %}Первая буква заглавная{%endif%}</option>
              <option value="6" disabled="">{% if session.lang == "tat" %}Сүз тамыры{% elif session.lang == "eng" %}Lemma{% else %}Основа слова{%endif%}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">
            {% if session.lang == "tat" %}
              Формасы
            {% elif session.lang == "eng" %}
              Search for
            {% else %}
              Форма
            {%endif%}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="searched" name="searched" placeholder="Form">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">
            {% if session.lang == "tat" %}
              Иң якын арасы
            {% elif session.lang == "eng" %}
              Start Index
            {% else %}
              Минимальное расстояние 
            {%endif%}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="start_index" name="start_index" placeholder="Range" value='1'>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">
            {% if session.lang == "tat" %}
              Иң ерак арасы
            {% elif session.lang == "eng" %}
              End Index
            {% else %}
              Максимальное расстояние
            {%endif%}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="end_index" name="end_index" placeholder="Range" value='1'>
          </div>
        </div>
      </fieldset>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {% if session.lang == "tat" %}
              Ябу
            {% elif session.lang == "eng" %}
              Close
            {% else %}Закрыть{%endif%}</button>
        <button type="submit" class="btn btn-primary">
            {% if session.lang == "tat" %}
              Саклау
            {% elif session.lang == "eng" %}
              Save changes
            {% else %}Сохранить{%endif%}</button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endif%}
{% endblock %}