{% extends "base.html" %}
{% block content %}
<script>
function process_text(text, disam_style) {
    // Example of client side AJAX
    // function uses jQuery to send async request to server (into '/sayhello' address)
    $('#result').html('');
    $.post('{{ url_for("process_text") }}', {
        // params, that will be send as 'POST'
        text: text.substring(0, 1000),
        disam_style: disam_style
    }).done(function(data) {
        // actions, that will be done after successfull response
        setTimeout($('#result').html(data.result.replace(/\n/g, '<br/>')), 500)
    }).fail(function() {
        // actions, that will be done after UNsuccessfull response
        alert('error')
    });
}
</script>
<h1>
  {% if session.lang == 'tat' %}
    Татар теленең морфологик анализаторы
  {% elif session.lang == 'eng' %}
    Tatar Morphological Analyser
  {% else %}
    Морфологический анализатор татарского языка
  {% endif %} v1.2
</h1>
<br>
<div class="row">
  <div class='col-lg-12'>
      <form class="form-horizontal">
          <fieldset>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {% if session.lang == 'tat' %}
                    Җөмлә
                  {% elif session.lang == 'eng' %}
                    Sentence
                  {% else %}
                    Предложение
                  {% endif %}</h3>
              </div>
              <div class="panel-body">
                <textarea class="form-control" rows="6" id="textArea" style="min-width:100%;min-height:120px;">{{ text }}</textarea>
                <span id='time' class="help-block"></span>
                  <div class="btn-toolbar">
                      <a class="btn btn-default" onclick="$('#textArea').val('');">
                        {% if session.lang == 'tat' %}
                          Чистарт
                        {% elif session.lang == 'eng' %}
                          Clear
                        {% else %}
                          Очистить
                        {% endif %}
                      </a>
                      <a class="btn btn-primary" onclick="process_text($('#textArea').val(), $('#disam_style').val());" style="margin-right:5px;">
                        {% if session.lang == 'tat' %}
                          Анализла
                        {% elif session.lang == 'eng' %}
                          Analyse
                        {% else %}
                          Анализ
                        {% endif %}
                      </a>
                      <select class="form-control" id="disam_style" style="width:400px;">
                        <option value="0"> 
                          {% if session.lang == 'tat' %}
                            Морфологик күптөрлелекне чишмәскә
                          {% elif session.lang == 'eng' %}
                            Without morphological disambiguation
                          {% else %}
                            Без разрешения морфологической многозначности
                          {% endif %}
                        </option>
                        <option value="1">
                          {% if session.lang == 'tat' %}
                            Морфологик күптөрлелекне система кагыйдәләрен кулланып чишәргә
                          {% elif session.lang == 'eng' %}
                            Include morphological disambiguation (system rules)
                          {% else %}
                            С разрешением многозначности основными правилами
                          {% endif %}
                        </option>
                        {% if user and user.is_authenticated %}
                          <option value="2">
                            {% if session.lang == 'tat' %}
                              Морфологик күптөрлелекне үзем ясаган кагыйдәләрне кулланып чишәргә
                            {% elif session.lang == 'eng' %}
                              Include morphological disambiguation (user rules)
                            {% else %}
                              С разрешением многозначности пользовательскими правилами
                            {% endif %}
                          </option>
                        {% endif %}
                      </select>
                  </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {% if session.lang == 'tat' %}
                    Результаты (<a href="{{ url_for('morphan_tags') }}">Морфоанализатор тамгалары >></a>)
                  {% elif session.lang == 'eng' %}
                    Result (<a href="{{ url_for('morphan_tags') }}">Morphan Tags >></a>)
                  {% else %}
                    Результат (<a href="{{ url_for('morphan_tags') }}">Условные обозначение морфоанализатора >></a>)
                  {% endif %}
                </h3>
              </div>
              <div class="panel-body" id='result'>
                {{ analysed|safe }}
            </div>
            </div>
          </fieldset>
      </form>
  </div>
</div>
{% endblock %}