<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="well">
        <form action="" method="post" name="login" class="form-horizontal">
          <fieldset>
            <legend>
                {% if session.lang == 'tat' %}
                  Керү
                {% elif session.lang == 'eng' %}
                  Login
                {% else %}
                  Вход
                {% endif %}</legend>
            {{form.hidden_tag()}}
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Кулланучы исеме
                {% elif session.lang == 'eng' %}
                  Username
                {% else %}
                  Имя пользователя
                {% endif %}</label>
              <div class="col-lg-9">
                {{form.username(size=30,class_='form-control',placeholder ='Username')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Серсүз
                {% elif session.lang == 'eng' %}
                  Password
                {% else %}
                  Пароль
                {% endif %}</label>
              <div class="col-lg-9">
                {{form.password(size=30,class_='form-control',placeholder ='Password')}}
                <div class="checkbox">
                  <label>
                    {{form.remember_me}} 
                    {% if session.lang == 'tat' %}
                      Мине истә калдыр
                    {% elif session.lang == 'eng' %}
                      Remember me
                    {% else %}
                      Запомнить меня
                    {% endif %}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                 <input type="submit" class='btn btn-primary' value="
                {% if session.lang == 'tat' %}
                  Керү
                {% elif session.lang == 'eng' %}
                  Login
                {% else %}
                  Вход
                {% endif %}">
              </div>
            </div>
          </fieldset>
        </form>
    </div>
  </div>
</div>
{% endblock %}