<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="well">
        <form action="" method="post" name="register" class="form-horizontal">
          <fieldset>
            <legend>
              {% if session.lang == 'tat' %}
                Регистрация
              {% elif session.lang == 'eng' %}
                Registration
              {% else %}
                Регистрация
              {% endif %}
            </legend>
            {{form.hidden_tag()}}
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Кулланучы исеме
                {% elif session.lang == 'eng' %}
                  Username
                {% else %}
                  Имя пользователя
                {% endif %}
              </label>
              <div class="col-lg-9">
                {{form.username(size=30,class_='form-control',placeholder ='Username')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Серсүз
                {% elif session.lang == 'eng' %}
                  Password
                {% else %}
                  Пароль
                {% endif %}</label>
              <div class="col-lg-9">
                {{form.password(size=30,class_='form-control',placeholder ='Password')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Серсүзне кабатлагыз
                {% elif session.lang == 'eng' %}
                  Repeat
                {% else %}
                  Повтрите пароль
                {% endif %}</label>
              <div class="col-lg-9">
                {{form.confirm(size=30,class_='form-control',placeholder ='Repeat password')}}
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">
                {% if session.lang == 'tat' %}
                  Эмейл
                {% elif session.lang == 'eng' %}
                  Email
                {% else %}
                  Эмейл
                {% endif %}</label>
              <div class="col-lg-9">
                {{form.email(size=30,class_='form-control',placeholder ='Email')}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                 <input type="submit" class='btn btn-primary' value="
                {% if session.lang == 'tat' %}
                  Теркәлү
                {% elif session.lang == 'eng' %}
                  Register
                {% else %}
                  Зарегистрироваться
                {% endif %}">
              </div>
            </div>
          </fieldset>
        </form>
    </div>
  </div>
</div>
{% endblock %}