{% extends "base.html" %}

{% block content %}
  <h1>
    {% if session.lang == 'tat' %}
      Морфоанализатор тамгалары
    {% elif session.lang == 'eng' %}
      Morphan Tags
    {% else %}
      Теги морфоанализатора
    {% endif %}
  </h1>
    <table class="table table-striped table-hover ">
        <thead>
          <tr><b>
            <th class="col-lg-2">Сокращения</th>
            <th class="col-lg-3">Расшифровка сокращений</th>
            <th class="col-lg-7">Название части речи</th>
            </b>
          </tr>
        </thead>
        <tbody>
            <tr><td colspan="3" class="info">Условные обозначения морфоанализатора</td></tr>
            <tr><td>NR</td><td>Not recognized</td><td>Нераспознанные морфоанализатором словоформы</td></tr>
            <tr><td>Type1</td><td></td><td>Знаки препинания: ".", "!", "?"</td></tr>
            <tr><td>Type2</td><td></td><td>Знаки препинания: ";", ",", "–", ":", "—"</td></tr>
            <tr><td>Type3</td><td></td><td>Скобки: "]", "{", ")", "}", "(", "["</td></tr>
            <tr><td>Type4</td><td></td><td>Ковычки: "”", "“", """, "»", "«", "'"</td></tr>
            <tr><td>Num</td><td>Number</td><td>Числа</td></tr>
            <tr><td>Sign</td><td>Sign</td><td>Некириллические символы</td></tr>
            <tr><td>Letter</td><td>Letter</td><td>Кириллические отдельно-стоящие буквы</td></tr>
            <tr><td>Latin</td><td>Latin</td><td>Слова написанные латиницей</td></tr>
            <tr><td>Rus</td><td>Russian</td><td>Слова, распознанные как относящиеся к русскому языку</td></tr>
            <tr><td>Error</td><td>Error</td><td>Слова, в написании которых возможно допущена ошибка</td></tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover ">
        <thead>
          <tr><b>
            <th class="col-lg-2">Сокращения</th>
            <th class="col-lg-3">Расшифровка сокращений</th>
            <th class="col-lg-7">Название части речи</th>
            </b>
          </tr>
        </thead>
        <tbody>
            <tr><td colspan="3" class="info">Части речи</td></tr>
            <tr><td>N</td><td >noun</td><td>имя существительное</td></tr>
            <tr><td>ADJ</td><td >adjective</td><td>имя прилагательное</td></tr>
            <tr><td>V</td><td >verb</td><td>глагол</td></tr>
            <tr><td>ADV</td><td >adverb</td><td>наречие</td></tr>
            <tr><td>NUM</td><td >numeral</td><td>числительное</td></tr>
            <tr><td>PN</td><td >pronoun</td><td>местоимение</td></tr>
            <tr><td>CNJ</td><td >conjunction</td><td>союз</td></tr>
            <tr><td>POST</td><td >postposition</td><td>послелог</td></tr>
            <tr><td>PART</td><td >particle</td><td>частица</td></tr>
            <tr><td>INTRJ</td><td >interjection</td><td>междометие</td></tr>
            <tr><td>MOD</td><td >modal word</td><td>модальное слово</td></tr>
            <tr><td>IMIT</td><td >imitative word</td><td>звукоподражательное слово</td></tr>
        </tbody>
    </table>
    <table class="table table-striped table-hover ">
        <thead>
          <tr><b>
            <th class="col-lg-2">Сокращения</th>
            <th class="col-lg-3">Расшифровка сокращений</th>
            <th class="col-lg-3">Название категории</th>
            <th class="col-lg-2">Алломорфы</th>
            <th class="col-lg-2">Условное обозначение морфемы</th>
            </b>
          </tr>
        </thead>
        <tbody>
            <tr><td colspan="5" class="info">Категория числа</td></tr>
            <tr class="Table61"><td  class="Table6_A1"><p class="P7"><span class="T3">SG</td><td style="text-align:left;width:1.4333in; " class="Table6_A1"><p class="P7">singular</td><td style="text-align:left;width:1.684in; " class="Table6_A1"><p class="P20"><span class="T3">единственное </td><td style="text-align:left;width:1.1896in; " class="Table6_A1"><p class="P20"><span class="T3">-</td><td style="text-align:left;width:1.2208in; " class="Table6_E1"><p class="P7"><span class="T3">-</td></tr><tr class="Table61"><td  class="Table6_A1"><p class="P7"><span class="T3">PL</td><td style="text-align:left;width:1.4333in; " class="Table6_A1"><p class="P7">plural</td><td style="text-align:left;width:1.684in; " class="Table6_A1"><p class="P7"><span class="T3">множественное</td><td style="text-align:left;width:1.1896in; " class="Table6_A1"><p class="P7"><span class="T3">-лар<p class="P7"><span class="T3">-ләр<p class="P7"><span class="T8">-нар<p class="P7"><span class="T8">-нәр</td><td style="text-align:left;width:1.2208in; " class="Table6_E1"><p class="P7"><span class="T3">-ЛАр</td></tr>

            <tr><td colspan="5" class="info">Категория принадлежности (посессивность)</td></tr>
            <tr class="Table71"><td><p class="P7">POSS_1SG</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 1 лицу ед. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">-ым<p class="P7"><span class="T3">-ем<p class="P7"><span class="T8">-м</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T3">Ы</span>]</span><span class="T3">м</td></tr><tr class="Table71"><td><p class="P7"><span class="T3">POSS_2SG</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 2 лицу ед. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">-ың<p class="P7"><span class="T3">-ең<p class="P7"><span class="T3">-ң</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T3">Ы</span>]</span><span class="T8">ң</td></tr><tr class="Table71"><td><p class="P7"><span class="T3">POSS_3SG</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 3 лицу ед. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">- ы<p class="P7"><span class="T3">-е<p class="P7"><span class="T8">-сы<p class="P7"><span class="T8">-се</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T8">с</span>]</span><span class="T8">Ы</td></tr><tr class="Table71"><td><p class="P7"><span class="T3">POSS_1PL</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 1 лицу мн. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">-ыбыз<p class="P7"><span class="T3">-ебез<p class="P7"><span class="T8">-быз<p class="P7"><span class="T8">-без</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T3">Ы</span>]</span><span class="T8">бЫз</td></tr><tr class="Table71"><td><p class="P7"><span class="T3">POSS_2PL</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 2 лицу мн. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">-ыгыз<p class="P7"><span class="T3">-егез<p class="P7"><span class="T3">-гыз<p class="P7"><span class="T3">-гез</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T3">Ы</span>]</span><span class="T8">гЫз</td></tr><tr class="Table71"><td><p class="P7">POS</span><span class="T3">S</span>_3PL</td><td colspan="2"><p class="P20"><span class="T3">принадлежность 3 лицу мн. числа</td><td style="text-align:left;width:1.2132in; " class="Table7_A1"><p class="P7"><span class="T3">-ы<p class="P7"><span class="T3">-е<p class="P7"><span class="T8">-сы<p class="P7"><span class="T8">-се</td><td style="text-align:left;width:1.1653in; " class="Table7_D1"><p class="P7"><span class="T3">-</span>[</span><span class="T8">с</span>]</span><span class="T8">Ы</td></tr>

            <tr><td colspan="5" class="info">Падежи существительных</td></tr>
            <tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">NOM</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8">nominative</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P8"><span class="T3">именительный падеж</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T3">-</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">GEN</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8"><span class="T6"> </span>genitive</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">родительный падеж (генитив)</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-ның<p class="P8"><span class="T3">-нең</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-нЫң</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">DIR</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8">directive</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">направительный  падеж (директив)</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-га<p class="P8"><span class="T3">-гә<p class="P8"><span class="T3">-ка<p class="P8"><span class="T3">-кә<p class="P8"><span class="T8">-ма<p class="P8"><span class="T8">-мә<p class="P8"><span class="T8">-а<p class="P8"><span class="T8">-ә</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-</span>[</span><span class="T8">Г</span>]</span><span class="T8">А</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">DIR</span>_LIM</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P10"> </p></td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">направительный  падеж с ограничительным значением</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-гача<p class="P8"><span class="T3">-гә</span><span class="T8">чә<p class="P8"><span class="T3">-кача<p class="P8"><span class="T3">-кә</span><span class="T8">чә<p class="P12"> </p></td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-</span>[</span><span class="T8">Г</span>]</span><span class="T8">АчА</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">ACC</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8">accusative</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">винительный падеж (аккузатив)</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-ны<p class="P8"><span class="T3">-не<p class="P8">-</span><span class="T8">н</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-н</span>[</span><span class="T8">Ы</span>]</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">ABL</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8">ablative</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">исходный падеж (аблатив)</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-дан<p class="P8"><span class="T3">-дән<p class="P8"><span class="T3">-тан<p class="P8"><span class="T3">-тән<p class="P8"><span class="T3">-</span><span class="T8">нан<p class="P8"><span class="T8">-нән<p class="P8"><span class="T8">-ннан<p class="P8"><span class="T8">-ннән</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-</span>[</span><span class="T8">н</span>]</span><span class="T8">ДАн</td></tr><tr class="Table81"><td style="text-align:left;width:1.3701in; " class="Table8_A1"><p class="P8"><span class="T3">LOC</td><td style="text-align:left;width:1.191in; " class="Table8_A1"><p class="P8">locative</td><td style="text-align:left;width:1.934in; " class="Table8_A1"><p class="P9"><span class="T3">мест</span><span class="T8">н</span><span class="T3">о-временной падеж (локатив)</td><td style="text-align:left;width:1.1896in; " class="Table8_A1"><p class="P8"><span class="T3">-да<p class="P8"><span class="T3">-дә<p class="P8"><span class="T3">-та<p class="P8"><span class="T3">-тә<p class="P8"><span class="T3">-</span><span class="T8">н</span><span class="T3">да<p class="P8"><span class="T3">-</span><span class="T8">н</span><span class="T3">дә</td><td style="text-align:left;width:1.1285in; " class="Table8_E1"><p class="P7"><span class="T8">-</span>[</span><span class="T8">н</span>]</span><span class="T8">ДА</td></tr>

            <tr><td colspan="5" class="info">Атрибутивные формы, производные от существительных</td></tr>
            <tr class="Table91"><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8"><span class="T3">ATTR_MUN</td><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8">attributive <p class="P8"><span class="T6">munitative </td><td style="text-align:left;width:1.8715in; " class="Table9_A1"><p class="P9"><span class="T3">атрибутив на -лы  (мунитатив)</td><td style="text-align:left;width:1.1813in; " class="Table9_A1"><p class="P8">-лы<p class="P8">-ле</td><td style="text-align:left;width:1.2007in; " class="Table9_E1"><p class="P8"><span class="T8">-лЫ</td></tr><tr class="Table91"><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8"><span class="T3">ATTR_ABES</td><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8">attributive abessive<p class="P10"> </p></td><td style="text-align:left;width:1.8715in; " class="Table9_A1"><p class="P9"><span class="T3">атрибутив на -сыз </span><span class="T8">(абессив)</td><td style="text-align:left;width:1.1813in; " class="Table9_A1"><p class="P8"><span class="T8">-сыз<p class="P8"><span class="T8">-сез<p class="P8"><span class="T9"> </td><td style="text-align:left;width:1.2007in; " class="Table9_E1"><p class="P8"><span class="T8">-сЫз</td></tr><tr class="Table91"><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P9"><span class="T3">ATTR_LOC </td><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8">attributive locative</td><td style="text-align:left;width:1.8715in; " class="Table9_A1"><p class="P9"><span class="T3">локативный атрибутив</td><td style="text-align:left;width:1.1813in; " class="Table9_A1"><p class="P9"><span class="T8">-дагы<p class="P9"><span class="T8">-дәге<p class="P9"><span class="T8">-тагы<p class="P9"><span class="T8">-тәге<p class="P9"><span class="T8">-ндагы<p class="P9"><span class="T8">-ндәге</td><td style="text-align:left;width:1.2007in; " class="Table9_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">н</span>]</span><span class="T8">ДА</span>+</span><span class="T8">гЫ</td></tr><tr class="Table91"><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P9"><span class="T10"> </span><span class="T3">ATTR_GEN<p class="P13"> </p></td><td style="text-align:left;width:1.2799in; " class="Table9_A1"><p class="P8">attributive genetive</td><td style="text-align:left;width:1.8715in; " class="Table9_A1"><p class="P9"><span class="T3">генетивный атрибутив</td><td style="text-align:left;width:1.1813in; " class="Table9_A1"><p class="P9">-ныкы<p class="P9">-неке</td><td style="text-align:left;width:1.2007in; " class="Table9_E1"><p class="P8"><span class="T8">-нЫ</span>(</span><span class="T8">ң</span>)+</span><span class="T8">кЫ</td></tr>
            
            <tr><td colspan="5" class="info">Сравнительная степень прилагательных</td></tr>
            <tr class="Table101"><td style="text-align:left;width:1.2799in; " class="Table10_A1"><p class="P8"><span class="T3">COMP</td><td style="text-align:left;width:1.2799in; " class="Table10_A1"><p class="P8">comparative</td><td style="text-align:left;width:1.8715in; " class="Table10_A1"><p class="P9"><span class="T3">сравнительная степень (компаратив)</td><td style="text-align:left;width:1.1813in; " class="Table10_A1"><p class="P8"><span class="T3">-рак<p class="P8"><span class="T3">-рәк<p class="P8"><span class="T8">-раг<p class="P8"><span class="T8">-рәг</td><td style="text-align:left;width:1.2007in; " class="Table10_E1"><p class="P8"><span class="T8">-рАК</td></tr>
            
            <tr><td colspan="5" class="info">Персональность (для  личных форм глаголов и категории сказуемости  существительных)</td></tr>
            <tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">1SG</td><td colspan="2"><p class="P9"><span class="T3">1-е лицо ед. числа </td><td  class="Table11_A1"><p class="P8"><span class="T3">-мын<p class="P8"><span class="T3">-мен<p class="P8"><span class="T8">-м</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P8"><span class="T8">-м</span>[</span><span class="T8">Ын</span>]</td></tr><tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">2SG</td><td colspan="2"><p class="P9"><span class="T3">2-е лицо ед.числа</td><td  class="Table11_A1"><p class="P8">-сың<p class="P8">-сең<p class="P8">-</span><span class="T8">ң</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">сЫ</span>]</span><span class="T8">ң</td></tr><tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">3SG</td><td colspan="2"><p class="P9"><span class="T3">3-е лицо ед. числа</td><td  class="Table11_A1"><p class="P8">-</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P12"> </p></td></tr><tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">1PL</td><td colspan="2"><p class="P9"><span class="T3">1-е лицо мн.числа</td><td  class="Table11_A1"><p class="P8"><span class="T3">-быз<p class="P8"><span class="T3">-без<p class="P8"><span class="T8">-к</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P8"><span class="T8">-Б</span>[</span><span class="T8">Ыз</span>]</td></tr><tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">2PL</td><td colspan="2"><p class="P9"><span class="T3">2-е лицо мн.числа</td><td  class="Table11_A1"><p class="P8">-сыз<p class="P8">-сез<p class="P8">-</span><span class="T8">г</span>ыз<p class="P8">-</span><span class="T8">г</span>ез</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P8"><span class="T8">-СЫз</td></tr><tr class="Table111"><td style="text-align:left;width:1.2799in; " class="Table11_A1"><p class="P8"><span class="T3">3PL</td><td colspan="2"><p class="P9"><span class="T3">3-е лицо мн.числа</td><td  class="Table11_A1"><p class="P8"><span class="T3">-лар<p class="P8"><span class="T3">-ләр<p class="P8"><span class="T8">-нар<p class="P8"><span class="T8">-нәр</td><td style="text-align:left;width:1.2007in; " class="Table11_D1"><p class="P8"><span class="T8">-ЛАр</td></tr>

            <tr><td colspan="5" class="info">Времена глагола</td></tr>
            <tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">PRES<p class="P12"> </p></td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">present</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">настоящее время </td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8"><span class="T3">-a<p class="P8"><span class="T3">-ә<p class="P8"><span class="T8">-й<p class="P8"><span class="T8">-и</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T8">-Й</td></tr><tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">PST</span><span class="T8">_</span><span class="T3">DEF</td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">past definite</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">прошедшее категорическое</td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8">-ды<p class="P8">-де<p class="P8">-ты<p class="P8">-те</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T8">-ДЫ</td></tr><tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">PST</span><span class="T8">_</span><span class="T3">INDF<p class="P12"> </p></td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">past indefinite</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">прошедшее результативное <p class="P9"><span class="T3">(перфект)</td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8">-ган<p class="P8">-гән<p class="P8">-кан<p class="P8">-кән</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T8">-ГАн</td></tr><tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">FUT</span><span class="T8">_</span><span class="T3">DEF</td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">future definite</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">будущее категорическое</td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8"><span class="T3">-ачак<p class="P8"><span class="T8">-әчәк<p class="P8"><span class="T8">-ячак<p class="P8"><span class="T8">-ячәк<p class="P8"><span class="T8">-ачаг<p class="P8"><span class="T8">-әчәг<p class="P8"><span class="T8">-ячаг<p class="P8"><span class="T8">-ячәг</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T8">-АчАК</td></tr><tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">FUT</span><span class="T8">_</span><span class="T3">INDF</td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">future indefinite</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">будущее неопределенное</td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8"><span class="T8">-ыр<p class="P8"><span class="T8">-ер<p class="P8"><span class="T8">-р<p class="P8"><span class="T8">-с</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">Р</td></tr><tr class="Table121"><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8"><span class="T3">FUT</span><span class="T8">_</span><span class="T3">INDF_NEG</td><td style="text-align:left;width:1.2799in; " class="Table12_A1"><p class="P8">future indefinite <p class="P8">negative</td><td style="text-align:left;width:1.6938in; " class="Table12_A1"><p class="P9"><span class="T3">отрицательная форма неопределенного будущего времени</td><td style="text-align:left;width:1.3576in; " class="Table12_A1"><p class="P8"><span class="T8">-мас<p class="P8"><span class="T8">-мәс</td><td style="text-align:left;width:1.2021in; " class="Table12_E1"><p class="P8"><span class="T3">мАС</td></tr>

            <tr><td colspan="5" class="info">Аспект глагола</td></tr>
            <tr class="Table131"><td style="text-align:left;width:1.2799in; " class="Table13_A1"><p class="P9"><span class="T3">NEG</td><td style="text-align:left;width:1.2799in; " class="Table13_A1"><p class="P9"><span class="T3">negative</td><td style="text-align:left;width:1.8715in; " class="Table13_A1"><p class="P9"><span class="T3">отрицание </td><td style="text-align:left;width:1.1813in; " class="Table13_A1"><p class="P9"><span class="T3">-ма<p class="P9"><span class="T3">-мә</td><td style="text-align:left;width:1.2007in; " class="Table13_E1"><p class="P8">-</span><span class="T8">мА</td></tr>

            <tr><td colspan="5" class="info">Причастия и атрибутивные формы глагола</td></tr>
            <tr class="Table141"><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9"><span class="T8">PCP_</span>PR</td><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9">present<p class="P9">participle<p class="P11"/></td><td style="text-align:left;width:1.8736in; " class="Table14_A1"><p class="P9"><span class="T3">причастие настоящего времени</td><td style="text-align:left;width:1.1785in; " class="Table14_A1"><p class="P9"><span class="T8">-учы<p class="P9"><span class="T8">-үче</td><td style="text-align:left;width:1.2014in; " class="Table14_E1"><p class="P8">-</span><span class="T8">У</span>+</span><span class="T8">чЫ</td></tr><tr class="Table141"><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9"><span class="T11">PCP_</span><span class="T12">PS</td><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9"><span class="T12">past<p class="P9"><span class="T12">participle</td><td style="text-align:left;width:1.8736in; " class="Table14_A1"><p class="P9"><span class="T13">причастие прошедшего времени</td><td style="text-align:left;width:1.1785in; " class="Table14_A1"><p class="P8"><span class="T12">-ган<p class="P8"><span class="T12">-гән<p class="P8"><span class="T12">-кан<p class="P8"><span class="T12">-кән</td><td style="text-align:left;width:1.2014in; " class="Table14_E1"><p class="P8"><span class="T18">-ГАн</td></tr><tr class="Table141"><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9"><span class="T11">PCP_</span><span class="T12">FUT</td><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P9"><span class="T12">future<p class="P9"><span class="T12">participle</td><td style="text-align:left;width:1.8736in; " class="Table14_A1"><p class="P9"><span class="T13">причастие будущего времени</td><td style="text-align:left;width:1.1785in; " class="Table14_A1"><p class="P8"><span class="T11">-ыр<p class="P8"><span class="T11">-ер<p class="P8"><span class="T11">-р<p class="P8"><span class="T11">-ачак<p class="P8"><span class="T11">-әчәк</td><td style="text-align:left;width:1.2014in; " class="Table14_E1"><p class="P8"><span class="T18">-</span><span class="T19">[</span><span class="T18">Ы</span><span class="T19">]</span><span class="T18">Р<p class="P8"><span class="T18">-АчАК</td></tr><tr class="Table141"><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P23"><span class="T12">USIT </td><td style="text-align:left;width:1.2799in; " class="Table14_A1"><p class="P23"><span class="T12">usitative</td><td style="text-align:left;width:1.8736in; " class="Table14_A1"><p class="P8"><span class="T13">форма, выражающая значение регулярно совершаемого действия, которое характеризует  субъекта</td><td style="text-align:left;width:1.1785in; " class="Table14_A1"><p class="P9"><span class="T13">-</span><span class="T11">у</span><span class="T13">чан<p class="P9"><span class="T13">-</span><span class="T11">ү</span><span class="T13">чән</td><td style="text-align:left;width:1.2014in; " class="Table14_E1"><p class="P8"><span class="T3">-</span><span class="T8">У+</span><span class="T3">чАн</td></tr>

            <tr><td colspan="5" class="info">Деепричастия</td></tr>
            <tr class="Table151"><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T11">ADVV_</span><span class="T12">ACC<p class="P15"> </p></td><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T12">Adverbial  verb</td><td style="text-align:left;width:1.8715in; " class="Table15_A1"><p class="P9"><span class="T13">деепричастие <p class="P9"><span class="T11">сопутствую</span><span class="T13">щего действия (аккомпаниатор)</td><td style="text-align:left;width:1.1813in; " class="Table15_A1"><p class="P8"><span class="T8">-ып<p class="P8"><span class="T8">-еп<p class="P8"><span class="T8">-п</td><td style="text-align:left;width:1.2007in; " class="Table15_E1"><p class="P8"><span class="T8">-Ып</td></tr><tr class="Table151"><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T13">ADVV_NEG</td><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T12">Adverbial  verb (negative form)</td><td style="text-align:left;width:1.8715in; " class="Table15_A1"><p class="P9"><span class="T13">отрицательная форма деепричастия сопутствующего действия<p class="P17"> </p></td><td style="text-align:left;width:1.1813in; " class="Table15_A1"><p class="P8"><span class="T3">-мыйча<p class="P8"><span class="T3">-мичә</td><td style="text-align:left;width:1.2007in; " class="Table15_E1"><p class="P8"><span class="T8">-мА+Й+чА</td></tr><tr class="Table151"><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T3">ADVV_ANT</td><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8">Adverbial  verb (antecedent meaning)</td><td style="text-align:left;width:1.8715in; " class="Table15_A1"><p class="P9"><span class="T3">деепричастие на -гач</td><td style="text-align:left;width:1.1813in; " class="Table15_A1"><p class="P8"><span class="T3">-гач<p class="P8"><span class="T3">-гәч<p class="P8"><span class="T3">-кач<p class="P8"><span class="T3">-кәч</td><td style="text-align:left;width:1.2007in; " class="Table15_E1"><p class="P8"><span class="T8">-ГАч</td></tr><tr class="Table151"><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8"><span class="T3">ADVV_SUCC</td><td style="text-align:left;width:1.2799in; " class="Table15_A1"><p class="P8">Adverbial  verb (successive meaning)</td><td style="text-align:left;width:1.8715in; " class="Table15_A1"><p class="P9"><span class="T3">деепричастие на -ганчы</td><td style="text-align:left;width:1.1813in; " class="Table15_A1"><p class="P8"><span class="T3">-ганчы<p class="P8"><span class="T3">-гәнче<p class="P8"><span class="T3">-канчы<p class="P8"><span class="T3">-кәнче</td><td style="text-align:left;width:1.2007in; " class="Table15_E1"><p class="P8"><span class="T8">-ГАн+чЫ</td></tr>

            <tr><td colspan="5" class="info">Инфинитивные формы</td></tr><tr class="Table161"><td style="text-align:left;width:1.2785in; " class="Table16_A1"><p class="P8"><span class="T3">INF</span>_1</td><td style="text-align:left;width:1.2799in; " class="Table16_A1"><p class="P8">infinitive</td><td style="text-align:left;width:1.8701in; " class="Table16_A1"><p class="P9"><span class="T3">инфинитив на -ырга</td><td style="text-align:left;width:1.1813in; " class="Table16_A1"><p class="P8"><span class="T3">-ырга<p class="P8"><span class="T3">-ергә<p class="P8"><span class="T8">-рга<p class="P8"><span class="T8">-ргә<p class="P8"><span class="T8">-ска<p class="P8"><span class="T8">-скә</td><td style="text-align:left;width:1.1979in; " class="Table16_E1"><p class="P8">-[</span><span class="T8">Ы</span>]</span><span class="T8">РГА</td></tr><tr class="Table161"><td style="text-align:left;width:1.2785in; " class="Table16_A1"><p class="P8"><span class="T3">INF_2</td><td style="text-align:left;width:1.2799in; " class="Table16_A1"><p class="P8"><span class="T6"> </span>Infinitive (archaic form)</td><td style="text-align:left;width:1.8701in; " class="Table16_A1"><p class="P9"><span class="T3">инфинитив на -мак</td><td style="text-align:left;width:1.1813in; " class="Table16_A1"><p class="P8"><span class="T3">-мак<p class="P8"><span class="T3">-мәк</td><td style="text-align:left;width:1.1979in; " class="Table16_E1"><p class="P8">-</span><span class="T8">мАк</td></tr>

            <tr><td colspan="5" class="info">Имя действия</td></tr><tr class="Table171"><td style="text-align:left;width:1.2785in; " class="Table17_A1"><p class="P8"><span class="T3">VN_1</td><td style="text-align:left;width:1.2799in; " class="Table17_A1"><p class="P8"><span class="T3">Verbal noun<p class="P12"> </p></td><td style="text-align:left;width:1.8764in; " class="Table17_A1"><p class="P9"><span class="T3">имя действия на -у</td><td style="text-align:left;width:1.1889in; " class="Table17_A1"><p class="P8"><span class="T3">-у<p class="P8"><span class="T3">-ү</td><td style="text-align:left;width:1.184in; " class="Table17_E1"><p class="P8"><span class="T8">-У</td></tr><tr class="Table171"><td style="text-align:left;width:1.2785in; " class="Table17_A1"><p class="P8"><span class="T3">VN_</span>2</td><td style="text-align:left;width:1.2799in; " class="Table17_A1"><p class="P8">Verbal noun (colloquial form)</td><td style="text-align:left;width:1.8764in; " class="Table17_A1"><p class="P9"><span class="T3">имя действия на -ш <p class="P9"><span class="T3">(-ыш, -еш)</td><td style="text-align:left;width:1.1889in; " class="Table17_A1"><p class="P8"><span class="T3">-ыш<p class="P8"><span class="T3">-еш<p class="P8"><span class="T3">-ш</td><td style="text-align:left;width:1.184in; " class="Table17_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">ш</td></tr>

            <tr><td colspan="5" class="info">Залоги глагола</td></tr><tr class="Table181"><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8"><span class="T3">ACT</td><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8">active</td><td style="text-align:left;width:1.8715in; " class="Table18_A1"><p class="P9"><span class="T3">действительный (основной) залог</td><td style="text-align:left;width:1.1813in; " class="Table18_A1"><p class="P8"><span class="T3">-</td><td style="text-align:left;width:1.2007in; " class="Table18_E1"><p class="P12"> </p></td></tr><tr class="Table181"><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8"><span class="T3">PASS</td><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8">passive</td><td style="text-align:left;width:1.8715in; " class="Table18_A1"><p class="P9"><span class="T3">страдательный залог (пассив)</td><td style="text-align:left;width:1.1813in; " class="Table18_A1"><p class="P8"><span class="T3">-ыл<p class="P8"><span class="T3">-ел<p class="P8">-</span><span class="T8">л</td><td style="text-align:left;width:1.2007in; " class="Table18_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">л</td></tr><tr class="Table181"><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8"><span class="T3">REFL</td><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8">reflexive</td><td style="text-align:left;width:1.8715in; " class="Table18_A1"><p class="P9"><span class="T3">возвратный  залог (рефлексив)</td><td style="text-align:left;width:1.1813in; " class="Table18_A1"><p class="P8"><span class="T3">-ын<p class="P8"><span class="T3">-ен<p class="P8">-</span><span class="T8">н</td><td style="text-align:left;width:1.2007in; " class="Table18_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">н</td></tr><tr class="Table181"><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8"><span class="T3">CAUS</td><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8">causative</td><td style="text-align:left;width:1.8715in; " class="Table18_A1"><p class="P9"><span class="T10"> </span><span class="T3">понудительный залог (каузатив)</td><td style="text-align:left;width:1.1813in; " class="Table18_A1"><p class="P8"><span class="T3">-дыр<p class="P8"><span class="T3">-дер<p class="P8"><span class="T3">-тыр<p class="P8"><span class="T3">-тер<p class="P8"><span class="T3">-т</td><td style="text-align:left;width:1.2007in; " class="Table18_E1"><p class="P8"><span class="T8">-Д</span>[</span><span class="T8">Ыр</span>]</td></tr><tr class="Table181"><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8"><span class="T3">RECP</td><td style="text-align:left;width:1.2799in; " class="Table18_A1"><p class="P8">reciprocal</td><td style="text-align:left;width:1.8715in; " class="Table18_A1"><p class="P9"><span class="T3">взаимно-совместный залог (реципрок)</td><td style="text-align:left;width:1.1813in; " class="Table18_A1"><p class="P8"><span class="T3">-ыш<p class="P8"><span class="T3">-еш<p class="P8"><span class="T3">-ш</td><td style="text-align:left;width:1.2007in; " class="Table18_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">ш</td></tr>

            <tr><td colspan="5" class="info">Императив</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8">HOR</span><span class="T8">_</span><span class="T3">SG</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P1">hortative<p class="P12"> </p></td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив  1 лица  (гортатив) ед.числа</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T8">-ыйм<p class="P8"><span class="T8">-им</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-ЫЙм</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8">HOR</span><span class="T8">_</span><span class="T3">PL</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P1">hortative<p class="P12"> </p></td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив 1 лица (гортатив)  мн.числа </span><span class="T8">общий вопрос</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T8">-ыйк<p class="P8"><span class="T8">-ик</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-ЫЙк</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8"><span class="T3">IMP</span><span class="T8">_</span><span class="T3">SG</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P1">imperative<p class="P12"> </p></td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив 2 лица ед.числа</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T3">-</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P12"> </p></td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8"><span class="T3">IMP</span><span class="T8">_</span><span class="T3">PL</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P1">imperative<p class="P12"/></td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив 2 лица </span><span class="T3">мн.числа</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T8">-ыгыз<p class="P8"><span class="T8">-егез<p class="P8"><span class="T8">-гыз<p class="P8"><span class="T8">-гез</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-</span>[</span><span class="T8">Ы</span>]</span><span class="T8">гЫз</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8">JUS</span><span class="T8">_</span><span class="T3">SG</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P8">jussive</td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив 3 лица  (юссив) ед.числа</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T8">-сын</span><span class="T3">/<p class="P8"><span class="T8">-сен</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-сЫн</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8">JUS</span><span class="T8">_</span><span class="T3">PL</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P8">jussive</td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">императив 3 лица (юссив) мн.числа </td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T8">-сыннар</span><span class="T3">/<p class="P8"><span class="T8">-сеннәр</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-сЫн+ЛАр</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8"><span class="T3">PREC_1</td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P8">precative</td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">просительный («мягкий») императив (прекатив) на -чы</td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T3">-чы<p class="P8"><span class="T3">-че</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-чЫ</td></tr><tr class="Table191"><td style="text-align:left;width:0.8924in; " class="Table19_A1"><p class="P8">PREC_2<p class="P2"> </p><p class="P14"> </p></td><td style="text-align:left;width:1.4764in; " class="Table19_A1"><p class="P8">precative<p class="P3"> </p></td><td style="text-align:left;width:2.0667in; " class="Table19_A1"><p class="P9"><span class="T3">просительный («мягкий») императив (прекатив) на -сана<p class="P9"><span class="T3">Экспрессивно-эмоц.частица (смягченная просьба)<p class="P19"> </p></td><td style="text-align:left;width:1.1889in; " class="Table19_A1"><p class="P8"><span class="T3">-сана<p class="P8"><span class="T3">-сәнә</td><td style="text-align:left;width:1.1569in; " class="Table19_E1"><p class="P8"><span class="T8">-сАнА</td></tr>

            <tr><td colspan="5" class="info">Способы глагольного действия</td></tr><tr class="Table201"><td style="text-align:left;width:1.2799in; " class="Table20_A1"><p class="P8"><span class="T3">R</span>AR</span><span class="T3">_</span>1</td><td style="text-align:left;width:1.2799in; " class="Table20_A1"><p class="P8"><span class="T3">raritive </td><td style="text-align:left;width:1.8715in; " class="Table20_A1"><p class="P9"><span class="T3">раритив на -гала</td><td style="text-align:left;width:1.1813in; " class="Table20_A1"><p class="P8"><span class="T3">-гала<p class="P8"><span class="T3">-гәлә<p class="P8"><span class="T3">-кала<p class="P8"><span class="T3">-кәлә</td><td style="text-align:left;width:1.2007in; " class="Table20_E1"><p class="P8">-</span><span class="T8">ГАлА</td></tr><tr class="Table201"><td style="text-align:left;width:1.2799in; " class="Table20_A1"><p class="P8">RAR_2</td><td style="text-align:left;width:1.2799in; " class="Table20_A1"><p class="P8"><span class="T3">raritive </td><td style="text-align:left;width:1.8715in; " class="Table20_A1"><p class="P9"><span class="T3">раритив на -ыштыр</td><td style="text-align:left;width:1.1813in; " class="Table20_A1"><p class="P8"><span class="T3">-ыштыр<p class="P8"><span class="T3">-ештер<p class="P8"><span class="T3">-штыр<p class="P8"><span class="T3">-штер</td><td style="text-align:left;width:1.2007in; " class="Table20_E1"><p class="P8">-[</span><span class="T8">Ы</span>]</span><span class="T8">ш</span>+</span><span class="T8">тЫр</td></tr>

            <tr><td colspan="5" class="info">Модальные формы глагола</td></tr><tr class="Table211"><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">COND</td><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">conditional</td><td style="text-align:left;width:1.8715in; " class="Table21_A1"><p class="P9"><span class="T3">условная модальность  (кондиционалис)</td><td style="text-align:left;width:1.1813in; " class="Table21_A1"><p class="P8"><span class="T3">-са<p class="P8"><span class="T3">-сә</td><td style="text-align:left;width:1.2007in; " class="Table21_E1"><p class="P8">-</span><span class="T8">сА</td></tr><tr class="Table211"><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">O</span>BL</td><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">obligative</td><td style="text-align:left;width:1.8715in; " class="Table21_A1"><p class="P8"><span class="T3">форма, выражающая значение необходимости</td><td style="text-align:left;width:1.1813in; " class="Table21_A1"><p class="P8"><span class="T3">-асы<p class="P8"><span class="T3">-әсе<p class="P8">-</span><span class="T8">ыйсы<p class="P8"><span class="T3">-</span><span class="T8">и</span><span class="T3">се</td><td style="text-align:left;width:1.2007in; " class="Table21_E1"><p class="P8"><span class="T8">-Й+сЫ</td></tr><tr class="Table211"><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T13">PSBL</td><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T14">possibilitive</td><td style="text-align:left;width:1.8715in; " class="Table21_A1"><p class="P8"><span class="T13">форма, выражающая значение возможности</td><td style="text-align:left;width:1.1813in; " class="Table21_A1"><p class="P8"><span class="T13">-лык<p class="P8"><span class="T13">-лек</td><td style="text-align:left;width:1.2007in; " class="Table21_E1"><p class="P8"><span class="T11">-лЫк</td></tr><tr class="Table211"><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">D</span>ESID</td><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8"><span class="T3">desiderative</td><td style="text-align:left;width:1.8715in; " class="Table21_A1"><p class="P9"><span class="T3">форма, выражающая значение намерения </span><span class="T3">(дезидератив) </td><td style="text-align:left;width:1.1813in; " class="Table21_A1"><p class="P8"><span class="T3">-макчы<p class="P8"><span class="T3">-мәкче</td><td style="text-align:left;width:1.2007in; " class="Table21_E1"><p class="P8"><span class="T8">-мАк+чЫ</td></tr><tr class="Table211"><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8">PREM</td><td style="text-align:left;width:1.2799in; " class="Table21_A1"><p class="P8">premonitive</td><td style="text-align:left;width:1.8715in; " class="Table21_A1"><p class="P9"><span class="T3">форма, выражающая значение<p class="P9"><span class="T10"> </span><span class="T3">предостережения </td><td style="text-align:left;width:1.1813in; " class="Table21_A1"><p class="P8"><span class="T3">-магай<p class="P8"><span class="T3">-</span><span class="T8">мәгәй</td><td style="text-align:left;width:1.2007in; " class="Table21_E1"><p class="P8"><span class="T8">-мА+гАЙ</td></tr>

            <tr><td colspan="5" class="info">Разряды числительных</td></tr><tr class="Table221"><td style="text-align:left;width:1.3097in; " class="Table22_A1"><p class="P9"><span class="T13">NUM_COLL</td><td style="text-align:left;width:1.241in; " class="Table22_A1"><p class="P31"><span class="T15">collective numeral<p class="P17"> </p></td><td style="text-align:left;width:1.884in; " class="Table22_A1"><p class="P9"><span class="T13">собирательное числительное</td><td style="text-align:left;width:1.1889in; " class="Table22_A1"><p class="P9"><span class="T13">-ау<p class="P9"><span class="T13">-әү</td><td style="text-align:left;width:1.0778in; " class="Table22_E1"><p class="P9"><span class="T13">-АУ</td></tr><tr class="Table221"><td style="text-align:left;width:1.3097in; " class="Table22_A1"><p class="P9"><span class="T13">NUM_ORD</td><td style="text-align:left;width:1.241in; " class="Table22_A1"><p class="P31"><span class="T15">ordinal </span><a id="result_box31"/><span class="T15">numeral<p class="P17"> </p></td><td style="text-align:left;width:1.884in; " class="Table22_A1"><p class="P9"><span class="T13">порядковое числительное</td><td style="text-align:left;width:1.1889in; " class="Table22_A1"><p class="P9"><span class="T13">-нчы<p class="P9"><span class="T13">енче</td><td style="text-align:left;width:1.0778in; " class="Table22_E1"><p class="P9"><span class="T13">-нчЫ</td></tr><tr class="Table221"><td style="text-align:left;width:1.3097in; " class="Table22_A1"><p class="P8"><span class="T13">NUM_DISR</td><td style="text-align:left;width:1.241in; " class="Table22_A1"><p class="P30"><span class="T13">distributive<p class="P30"><span class="T15">numeral</td><td style="text-align:left;width:1.884in; " class="Table22_A1"><p class="P8"><span class="T13">разделительное числительное</td><td style="text-align:left;width:1.1889in; " class="Table22_A1"><p class="P8"><span class="T13">-ар<p class="P8"><span class="T13">-әр<p class="P8"><span class="T13">-шар<p class="P8"><span class="T13">-шәр</td><td style="text-align:left;width:1.0778in; " class="Table22_E1"><p class="P8"><span class="T13">-ШАр</td></tr><tr class="Table221"><td style="text-align:left;width:1.3097in; " class="Table22_A1"><p class="P8"><span class="T13">NUM_APPR</td><td style="text-align:left;width:1.241in; " class="Table22_A1"><p class="P30"><span class="T15">approximate<p class="P30"><span class="T15">numeral</td><td style="text-align:left;width:1.884in; " class="Table22_A1"><p class="P8"><span class="T13">числительное приблизительного счета</td><td style="text-align:left;width:1.1889in; " class="Table22_A1"><p class="P8"><span class="T13">-лап<p class="P8"><span class="T13">-ләп</td><td style="text-align:left;width:1.0778in; " class="Table22_E1"><p class="P8"><span class="T13">-лАп</td></tr>

            <tr><td colspan="5" class="info">Модальные средства выражения  вопросительности, неопределенности, уподобления</td></tr>
            <tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A1"><p class="P8"><span class="T3">INT</td><td style="text-align:left;width:1.2799in; " class="Table23_A1"><p class="P8"><span class="T3">interrogative</td><td style="text-align:left;width:1.9694in; " class="Table23_A1"><p class="P9"><span class="T3">общий вопрос</td><td style="text-align:left;width:1.0826in; " class="Table23_A1"><p class="P8"><span class="T3">-мы<p class="P8"><span class="T3">-ме</td><td style="text-align:left;width:1.2632in; " class="Table23_E1"><p class="P8"><span class="T8">-мЫ</td></tr><tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A2"><p class="P8"><span class="T3">INT_MIR</td><td style="text-align:left;width:1.2799in; " class="Table23_B2"><p class="P8"><span class="T3">interrogative mirative</td><td style="text-align:left;width:1.9694in; " class="Table23_B2"><p class="P8"><span class="T3">вопросительная форма на -мыни</td><td style="text-align:left;width:1.0826in; " class="Table23_B2"><p class="P8"><span class="T3">-мыни<p class="P8"><span class="T3">-мени</td><td style="text-align:left;width:1.2632in; " class="Table23_E2"><p class="P8"><span class="T8">-мЫни</td></tr><tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P22"><span class="T3">PROB<p class="P24"> </p></td><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P22"><span class="T3">probabilitive </td><td style="text-align:left;width:1.9694in; " class="Table23_A3"><p class="P23"><span class="T3">форма, выражающая значение<p class="P23"><span class="T3">вероятности, предположительности </td><td style="text-align:left;width:1.0826in; " class="Table23_A3"><p class="P8"><span class="T3">-дыр<p class="P8"><span class="T3">-дер<p class="P8"><span class="T3">-</span><span class="T8">т</span><span class="T3">ыр<p class="P8"><span class="T3">-</span><span class="T8">т</span><span class="T3">ер</td><td style="text-align:left;width:1.2632in; " class="Table23_E3"><p class="P8"><span class="T8">-ДЫр</td></tr><tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">SIM</span>_1</td><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">similative</td><td style="text-align:left;width:1.9694in; " class="Table23_A3"><p class="P8"><span class="T3">форма, выражающая значение уподобления</td><td style="text-align:left;width:1.0826in; " class="Table23_A3"><p class="P9">-дай<p class="P9">-дәй<p class="P9">-</span><span class="T8">т</span>ай<p class="P9">-</span><span class="T8">т</span>әй</td><td style="text-align:left;width:1.2632in; " class="Table23_E3"><p class="P8"><span class="T8">- ДАЙ</td></tr><tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">SIM</span>_</span><span class="T8">2</td><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">similative</td><td style="text-align:left;width:1.9694in; " class="Table23_A3"><p class="P8"><span class="T3">форма, выражающая значение уподобления</td><td style="text-align:left;width:1.0826in; " class="Table23_A3"><p class="P9"><span class="T3">-сыман</td><td style="text-align:left;width:1.2632in; " class="Table23_E3"><p class="P8"><span class="T3">-сыман</td></tr><tr class="Table231"><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">SIM</span>_</span><span class="T8">3</td><td style="text-align:left;width:1.2799in; " class="Table23_A3"><p class="P4"><span class="T3">similative</td><td style="text-align:left;width:1.9694in; " class="Table23_A3"><p class="P8"><span class="T3">форма, выражающая значение уподобления</td><td style="text-align:left;width:1.0826in; " class="Table23_A3"><p class="P9"><span class="T8">-сымак</td><td style="text-align:left;width:1.2632in; " class="Table23_E3"><p class="P8"><span class="T8">- сымак</td></tr>

            <tr><td colspan="5" class="info">Элементы словообразования</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P9"><span class="T13">DIM</td><td style="text-align:left;width:1.5882in; " class="Table24_A1"><p class="P31"><a id="result_box"/><span class="T15">diminutive<p class="P17"> </p></td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P9"><span class="T13">уменьшительная форма</td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P9"><span class="T13">-чык<p class="P9"><span class="T13">-чек</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P9"><span class="T13">-чЫк</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P9"><span class="T13">AFC</td><td style="text-align:left;width:1.5882in; " class="Table24_A1"><p class="P9"><span class="T13">affectionate</td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P9"><span class="T13">ласкательная форма</td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P9"><span class="T13">-кай<p class="P9"><span class="T13">-кәй</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P9"><span class="T13">-кАй</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P9"><span class="T13">PROF</td><td style="text-align:left;width:1.5882in; " class="Table24_A1"><p class="P31"><a id="result_box4"/><span class="T15">profession<p class="P17"> </p></td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P9"><span class="T13">лицо деятеля по роду занятий</td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P9"><span class="T13">- чы<p class="P9"><span class="T13">-че</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P9"><span class="T13">-чЫ</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P9"><span class="T12">NMLZ</td><td style="text-align:left;width:1.5882in; " class="Table24_A1"><p class="P8"><span class="T11">nominalizer</td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P8"><span class="T17">абстрактное существительное<p class="P18"> </p></td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P9"><span class="T11">-лык<p class="P9"><span class="T11">-лек</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P8"><span class="T11">-лЫК</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P8"><span class="T13">MSRE</td><td style="text-align:left;width:1.5882in; " class="Table24_A1">measure</td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P8"><span class="T13">форма, выражающая значение меры</td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P8"><span class="T13">-лата<p class="P8"><span class="T13">-ләтә</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P8"><span class="T13">лАтА</td></tr><tr class="Table241"><td style="text-align:left;width:0.9625in; " class="Table24_A1"><p class="P8"><span class="T13">DISTR</td><td style="text-align:left;width:1.5882in; " class="Table24_A1"><p class="P22"><a id="result_box2"/><span class="T15">distribution<p class="P16"> </p></td><td style="text-align:left;width:2.0139in; " class="Table24_A1"><p class="P8"><span class="T13">форма, выражающая значение распределения</td><td style="text-align:left;width:1.059in; " class="Table24_A1"><p class="P8"><span class="T13">-лап<p class="P8"><span class="T13">-ләп</td><td style="text-align:left;width:1.2514in; " class="Table24_E1"><p class="P8"><span class="T13">-лАп</td></tr>
        </tbody>
    </table>
{% endblock %}